<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>URL Aliaser</title>
</head>
<body>
    <h1>URL Aliaser</h1>
    <table>
        <thead>
            <tr>
                <th>URL</th>
                <th>Alias</th>
                <th>Hit count</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="alias : ${aliases}">
                <td th:text="${alias.link.url}"></td>
                <td th:text="${alias.alias}"></td>
                <td th:text="${alias.hitCount}"></td>
            </tr>
        </tbody>
    </table>
<form action="/save-link" method="post">
    <label for="url" id="url">URL</label>
    <input type="text" name="url">
    <label for="alias" id="alias">Alias</label>
    <input type="text" name="alias">
    <button type="submit">Submit</button>
</form>
</body>
</html>